[Unit]
Description=WebManager service
After=multi-user.target
[Service]
Type=simple
Restart=always
ExecStart=/etc/KosmaPanel/webmanager/KosmaPanelWebManager
[Install]
WantedBy=multi-user.target